/*mediaQ*/
@media only screen and (max-width:580px){
    .banner{
        display:none;
    }
    .cambio-size{
        display: flex;
        flex-direction: column;
    }
    /*index*/
    main{
        .productos-destacado{
            
            
            img{
                object-fit:cover;
                object-position:top;
                height: 310px; 
                background-color:$color-white;   
            }
            
            
        }

    }
    main{
        .titulo-contactos{
            font-size: 30px;
        }
        .link-contactos{
            img{
                width:50px;
            }
        }
    }
    
    /*footer---*/
    footer{
        p{
            padding:30px;
            font-size: 1.2rem;
        }
        .mi-footer{
            a{
                border:none;
                
            }
        }
        
    }
}