/*mediaQ celular*/
@media only screen and (max-width:480px){
    .banner{
        display:none;
    }
    .cambio-size{
        display: flex;
        flex-direction: column;
    }
    /*index*/
    main{
        .productos-destacado{
            
            
            img{
                object-fit:cover;
                object-position:top;
                height: 310px; 
                background-color:$color-white;   
            }
            
            
        }

    }
    main{
        .titulo-contactos{
            font-size: 30px;
        }
        .link-contactos{
            img{
                width:50px;
            }
        }
    }
    
    /*footer---*/
    footer{
        p{
            padding:30px;
            font-size: 1.2rem;
        }
        .mi-footer{
            a{
                border:none;
                
            }
        }
        
    }
}

/*mediaQ tablet*/
@media only screen and (min-width:481px) and (max-width:960px){
    /*index*/
    main{
        
        .productos-destacado{
            
            
            img{
                object-fit:contain;
                object-position:top;
                height: 410px; 
                
                  
            }
            
            
        }
        .tarjetas-index{
            display: flex;
            flex-direction: column;
            .mi-card{
                display: flex;
                flex-direction: row;
                

                img{
                    width:266px;
                    
                }
                p{
                    font-size:1.5rem;
                    
                }
            }
        }

    }
    
    /*man */
    main{
        .title-man{
            h2{
                font-size: 2.5rem;
            }
            h3{
                font-size:1.9rem;
                padding:10px;
            }
        }
        .padre-hombre{
            .section-hombre{
                img{
                    width:100%;
                }
            }
        }
    }
    /*woman*/
    main{
        .title-woman{
            h2{
                font-size: 2.2rem;
            }
            h3{
                font-size: 1.9rem;
                padding:10px;
            }
            
        }
        .padre-mujer{
            
            img{
                width:100%;
            }
        }
    }

    /*Nosotros*/
    main{
        
        .nuestro-equipo{
            
            p{
                font-size: 1.2rem;
                
            }
        }
    }

    /*contactos*/
    main{
        
        h2.titulo-formulario{
            padding:5px;
            font-size:1.7rem;
            
        } 
        
    }
    /*footer*/
    footer{
        
        p{
            padding:40px;
            font-size:1.8rem;
        }
        
    }
}